body {
  background: linear-gradient(135deg, #6f19a8, #fce4ec);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 1.5rem;
  color: #333;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 520px;
  width: 100%;
  background: rgb(208, 214, 198);
  padding: 1.8rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 1.2rem;
  color: #250416;
  font-size: 1.9rem;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 0.8rem 0;
  font-size: 1rem;
  border: 2px solid #ce93d8;
  border-radius: 14px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus {
  border-color: #ab47bc;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  gap: 0.6rem;
}

.radio-group label {
  font-size: 1rem;
  color: #4a148c;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: #ec407a;
  cursor: pointer;
}

button {
  padding: 22px 44px;
  background-color: #ff1744; 
  color: rgb(73, 46, 46);
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 999px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1.5rem;
}




button:hover {
  background-color: #d50000;
  transform: scale(1.07);
}

.results {
  margin-top: 1.5rem;
  text-align: center;
}

.results h2 {
  color: #6a1b9a;
  font-size: 1.2rem;
}

.results ul {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

.results li {
  background: #f3e5f5;
  padding: 8px;
  margin: 0.4rem 0;
  border-radius: 10px;
  font-size: 0.95rem;
}

