body {
  background-color: #d3d3d3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #ececec;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  color: #000000;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: #000000;
  color: #ececec;
  border-color: #d3d3d3;
}

input[type="text"], input[type="email"] {
  background-color: #ececec;
  color: #000000;
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

select {
  background-color: #ececec;
  color: #000000;
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-left: 10px;
}

.keyword-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.bubble {
  background-color: #ececec;
  color: #000000;
  padding: 1px 8px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}

.remove-button {
  background: none;
  color: #000000;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0px;
  margin-left: 5px;
}

.remove-button:hover {
  background-color: #ececec;
  color: #ff0000;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #ececec;
  height: 100px;
}

.spinner span {
  animation: dots 1.2s infinite;
}

.spinner span:nth-child(2) {
  animation-delay: 0.2s;
}

.spinner span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alerts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.alert-bubble {
  background-color: #ececec;
  color: #000000;
  padding: 10px 15px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  font-size: 14px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: all 0.3s ease;
}

.alert-bubble button {
  background-color: #ececec;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  color: #000000;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.alert-bubble button:hover {
  background-color: #000000;
  color: #ececec;
  border-color: #d3d3d3;
}